In [100]:
### Basic Setup

import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=RuntimeWarning)
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    import seaborn as sns

%matplotlib inline

pd.options.display.max_columns = None

In [101]:
def null_cnt(col):
    return col.isnull().sum()

def null_pct(col):
    return null_cnt(col) / len(col)

In [102]:
train = pd.read_csv('../Kaggle_Info/train.csv')
research = train.copy()
test = pd.read_csv('../Kaggle_Info/test.csv')
research.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [103]:
### Drop columns with uninformative data and leaking info
unwanted_cols = ['SaleType', 'SaleCondition']
research.drop(unwanted_cols, axis=1, inplace=True)
research.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,250000

In [104]:
research.apply(null_cnt).sort_values(ascending=False)[:'Electrical']

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageCond        81
GarageQual        81
GarageType        81
GarageYrBlt       81
GarageFinish      81
BsmtFinType2      38
BsmtExposure      38
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
MasVnrArea         8
MasVnrType         8
Electrical         1
dtype: int64

In [105]:
pool_cols = [col for col in research.columns if 'Pool' in col]
research[pool_cols].apply(null_cnt).sort_values(ascending=False)

PoolQC      1453
PoolArea       0
dtype: int64

In [106]:
research.loc[research['PoolQC'].isnull(), pool_cols].head()

   PoolArea PoolQC
0         0    NaN
1         0    NaN
2         0    NaN
3         0    NaN
4         0    NaN

In [107]:
research['PoolQC'] = research['PoolQC'].fillna('NA')
null_cnt(research['PoolQC'])

0

In [108]:
misc_cols = [col for col in research.columns if 'Misc' in col]
research[misc_cols].apply(null_cnt).sort_values(ascending=False)

MiscFeature    1406
MiscVal           0
dtype: int64

In [109]:
research.loc[research['MiscFeature'].isnull(), misc_cols].head()

  MiscFeature  MiscVal
0         NaN        0
1         NaN        0
2         NaN        0
3         NaN        0
4         NaN        0

In [110]:
research['MiscFeature'] = research['MiscFeature'].fillna('NA')
null_cnt(research['MiscFeature'])

0

In [111]:
research['Alley'] = research['Alley'].fillna('NA')
research['Fence'] = research['Fence'].fillna('NA')

In [112]:
frp_cols = [col for col in research.columns if 'Fireplace' in col]
research.loc[research['FireplaceQu'].isnull(), frp_cols].head()

    Fireplaces FireplaceQu
0            0         NaN
5            0         NaN
10           0         NaN
12           0         NaN
15           0         NaN

In [113]:
research['FireplaceQu'] = research['FireplaceQu'].fillna('NA')
null_cnt(research['FireplaceQu'])

0

In [114]:
bsmt_cols = [col for col in research.columns if 'Bsmt' in col]
bsmt_null_df = research.loc[research['BsmtQual'].isnull(), bsmt_cols]
bsmt_null_df.head()

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
17,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
39,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
90,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
102,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
156,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0

In [115]:
research.loc[bsmt_null_df.index] = research.loc[bsmt_null_df.index].fillna('NA')
research[bsmt_cols].apply(null_cnt)

BsmtQual        0
BsmtCond        0
BsmtExposure    1
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    1
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
BsmtFullBath    0
BsmtHalfBath    0
dtype: int64

In [116]:
research.loc[research['BsmtExposure'].isnull(), bsmt_cols]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
948,Gd,TA,NaN,Unf,0,Unf,0,936,936,0,0

In [117]:
research.loc[research['BsmtFinType2'].isnull(), bsmt_cols]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
332,Gd,TA,No,GLQ,1124,NaN,479,1603,3206,1,0

In [118]:
research.loc[research['BsmtExposure'].isnull(), 'BsmtExposure'] = research['BsmtExposure'].mode().iloc[0]
research.loc[research['BsmtFinType2'].isnull(), 'BsmtFinType2'] = research['BsmtFinType2'].mode().iloc[0]
(research['BsmtExposure'].mode().iloc[0], research['BsmtFinType2'].mode().iloc[0])

('No', 'Unf')

In [119]:
research.loc[research['Electrical'].isnull(), 'Electrical'] = research['Electrical'].mode().iloc[0]
research['Electrical'].mode().iloc[0]

'SBrkr'

In [120]:
lot_cols = [col for col in research.columns if 'Lot' in col]
research[lot_cols].apply(null_cnt).sort_values(ascending=False)

LotFrontage    253
LotConfig        0
LotShape         0
LotArea          0
dtype: int64

In [121]:
research.loc[research['LotFrontage'].isnull(), lot_cols].head()

   LotFrontage  LotArea LotShape LotConfig
7          NaN    10382      IR1    Corner
12         NaN    12968      IR2    Inside
14         NaN    10920      IR1    Corner
16         NaN    11241      IR1   CulDSac
24         NaN     8246      IR1    Inside

In [122]:
research['LotFrontage'] = research['LotFrontage'].fillna(0)
null_cnt(research['LotFrontage'])

0

In [123]:
grg_cols = [col for col in research.columns if 'Garage' in col]
research[grg_cols].apply(null_cnt).sort_values(ascending=False)

GarageCond      74
GarageQual      74
GarageFinish    74
GarageYrBlt     74
GarageType      74
GarageArea       0
GarageCars       0
dtype: int64

In [124]:
research.loc[research['GarageYrBlt'].isnull(), grg_cols].head()

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
48,NaN,NaN,NaN,0,0,NaN,NaN
78,NaN,NaN,NaN,0,0,NaN,NaN
88,NaN,NaN,NaN,0,0,NaN,NaN
89,NaN,NaN,NaN,0,0,NaN,NaN
99,NaN,NaN,NaN,0,0,NaN,NaN

In [125]:
grg_cat_cols = ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']
research[grg_cat_cols] = research[grg_cat_cols].fillna('NA')
research['GarageYrBlt'] = research['GarageYrBlt'].fillna(0)
research[grg_cols].apply(null_cnt).sort_values(ascending=False)

GarageCond      0
GarageQual      0
GarageArea      0
GarageCars      0
GarageFinish    0
GarageYrBlt     0
GarageType      0
dtype: int64

In [126]:
mas_cols = [col for col in research.columns if 'Mas' in col]
research[mas_cols].apply(null_cnt).sort_values(ascending=False)

MasVnrArea    8
MasVnrType    8
dtype: int64

In [127]:
research.loc[research['MasVnrArea'].isnull(), mas_cols].head()

    MasVnrType  MasVnrArea
234        NaN         NaN
529        NaN         NaN
650        NaN         NaN
936        NaN         NaN
973        NaN         NaN

In [128]:
research['MasVnrType'] = research['MasVnrType'].fillna('NA')
research['MasVnrArea'] = research['MasVnrArea'].fillna(0)
research[mas_cols].apply(null_cnt).sort_values(ascending=False)

MasVnrArea    0
MasVnrType    0
dtype: int64

In [129]:
null_research = research.apply(null_cnt)
null_research[null_research != 0]

Series([], dtype: int64)

In [ ]:
def fillna(train, test):
    fill_na_cols = ['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu',
                    'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'MasVnrType']
    fill_zero_cols = ['LotFrontage', 'LotFrontage', 'GarageYrBlt', 'MasVnrArea']
    train_medians = train.median().iloc[0]
    for df in (train, test):
        unwanted_cols = ['SaleType', 'SaleCondition']
        research.drop(unwanted_cols, axis=1, inplace=True)
        df[fill_na_cols] = df[fill_na_cols].fillna('NA')
        df[fill_zero_cols] = df[fill_zero_cols].fillna(0)
        df['Eletrical'] = df['Electrical'].fillna(train_medians['Electrical'])
        
        bsmt_cols = [col for col in df.columns if 'Bsmt' in col]
        bsmt_null_df = df.loc[df['BsmtQual'].isnull(), bsmt_cols]

In [131]:
test.apply(null_cnt).sort_values(ascending=False)

PoolQC           1456
MiscFeature      1408
Alley            1352
Fence            1169
FireplaceQu       730
LotFrontage       227
GarageCond         78
GarageQual         78
GarageYrBlt        78
GarageFinish       78
GarageType         76
BsmtCond           45
BsmtQual           44
BsmtExposure       44
BsmtFinType1       42
BsmtFinType2       42
MasVnrType         16
MasVnrArea         15
MSZoning            4
BsmtHalfBath        2
Utilities           2
Functional          2
BsmtFullBath        2
BsmtFinSF2          1
BsmtFinSF1          1
Exterior2nd         1
BsmtUnfSF           1
TotalBsmtSF         1
SaleType            1
Exterior1st         1
                 ...
OverallQual         0
SaleCondition       0
Heating             0
ExterQual           0
TotRmsAbvGrd        0
YrSold              0
MoSold              0
MiscVal             0
PoolArea            0
ScreenPorch         0
3SsnPorch           0
EnclosedPorch       0
OpenPorchSF         0
WoodDeckSF          0
PavedDrive          0
Fireplaces          0
KitchenAbvGr        0
ExterCond           0
BedroomAbvGr        0
HalfBath            0
FullBath            0
GrLivArea           0
LowQualFinSF        0
2ndFlrSF            0
1stFlrSF            0
Electrical          0
CentralAir          0
HeatingQC           0
Foundation          0
Id                  0
Length: 80, dtype: int64

X = research[num_cols].iloc[:, :-1]
y = research['SalePrice']

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

regr = LinearRegression()
scores = cross_val_score(regr, X, y, cv=10, scoring='neg_mean_squared_error')
rmses = (-scores)**.5
(np.mean(rmses), np.std(rmses))

from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(random_state=42)
scores = cross_val_score(regr, X, y, cv=10, scoring='neg_mean_squared_error')
rmses = (-scores)**.5
(np.mean(rmses), np.std(rmses))